(The spirit when programming: "*Why spend 5 days doing some work when you can spend 5 weeks automating it!*")

# Creating your own kernel / environment

Create a Python environment (where packages are installed):
- Open a terminal
- `python3 -m venv bioinfo`
- `source bioinfo/bin/activate`

Link it to a Jupyter kernel (so that your code execute with it):
- `pip install ipykernel`
- `python3 -m ipykernel install --user --name bioinfo --display-name "Python (bioinfo)"`

Then you can install new packages:
- `pip install pandas`

In your notebook, you'll need to `Kernel` -> `Change kernel` to this new kernel. It is probably safe to then `Kernel` -> `Restart & clear output`. Make sure this new kernel is the one active (upper right corner of your screen, just below the button `Control Panel`).

# Working with real data

In [2]:
import pandas
#from pandas import *
#import pandas as pd

## Read from / write to TSV and CSV files (in and out of Excel / R)

(Doc: https://pandas.pydata.org/docs/reference/api/pandas.read_table.html#pandas.read_table)

In [3]:
df = pandas.read_table("kmers.tsv")

In [4]:
df

                                  Seq    Id   Count
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422
1     CAGGACTCCAATATAGAGATAAGTTAATGTC     2      93
2     TATGTAATTGGTTCCAGTGTGAGTCATTAAA     3       5
3     GATATTTTCGAAAAGTGGGATTTTTTAAACC     4      88
4     CTCCATCTCAGGTATTAGAATGAATGCTTAC     5       7
...                               ...   ...     ...
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996       5
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997       5
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998      10
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999       7
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000      11

[4000 rows x 3 columns]

(Doc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)

In [8]:
df.to_csv("test.csv")

## Dataframe manipulation

(.head(), .tail(), .shape, .Col, sum(), len(), .describe(), ["Col"], .drop())

In [9]:
df.head()

                               Seq  Id   Count
0  AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA   1  113422
1  CAGGACTCCAATATAGAGATAAGTTAATGTC   2      93
2  TATGTAATTGGTTCCAGTGTGAGTCATTAAA   3       5
3  GATATTTTCGAAAAGTGGGATTTTTTAAACC   4      88
4  CTCCATCTCAGGTATTAGAATGAATGCTTAC   5       7

In [12]:
df.tail()

                                  Seq    Id  Count
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996      5
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997      5
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998     10
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999      7
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000     11

In [11]:
df.shape

(4000, 3)

In [17]:
df.Seq

0       AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1       CAGGACTCCAATATAGAGATAAGTTAATGTC
2       TATGTAATTGGTTCCAGTGTGAGTCATTAAA
3       GATATTTTCGAAAAGTGGGATTTTTTAAACC
4       CTCCATCTCAGGTATTAGAATGAATGCTTAC
                     ...
3995    AGCTGCAGGAACTCCCTCGTCACAGCTTAAA
3996    CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA
3997    GTCTGCCTTTATGGCCTTTGTACTCAAAGAA
3998    AGACTATAGTGAGCTCAGGTGATTGATACTC
3999    AAACCCAGTCACTGGACACCTAAGTGTCCAC
Name: Seq, Length: 4000, dtype: object

In [18]:
df.columns

Index(['Seq', 'Id', 'Count'], dtype='object')

In [21]:
sum(df.Count)
#adds all the numbers in the coloumn

372648

In [22]:
sum(df.Count) / len(df.Count)
#to calculate average length

93.162

In [23]:
df.describe()

                Id          Count
count  4000.000000    4000.000000
mean   2000.500000      93.162000
std    1154.844867    1804.997654
min       1.000000       5.000000
25%    1000.750000       7.000000
50%    2000.500000      14.000000
75%    3000.250000      42.000000
max    4000.000000  113422.000000

In [24]:
df["Seq"]
#cannot you df.my coloumn so would need to put df[...]

0       AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1       CAGGACTCCAATATAGAGATAAGTTAATGTC
2       TATGTAATTGGTTCCAGTGTGAGTCATTAAA
3       GATATTTTCGAAAAGTGGGATTTTTTAAACC
4       CTCCATCTCAGGTATTAGAATGAATGCTTAC
                     ...
3995    AGCTGCAGGAACTCCCTCGTCACAGCTTAAA
3996    CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA
3997    GTCTGCCTTTATGGCCTTTGTACTCAAAGAA
3998    AGACTATAGTGAGCTCAGGTGATTGATACTC
3999    AAACCCAGTCACTGGACACCTAAGTGTCCAC
Name: Seq, Length: 4000, dtype: object

(Arithmetics on columns)

In [28]:
df["Test"] = 23
#to add a new column

In [29]:
df

                                  Seq    Id   Count  Test
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422    23
1     CAGGACTCCAATATAGAGATAAGTTAATGTC     2      93    23
2     TATGTAATTGGTTCCAGTGTGAGTCATTAAA     3       5    23
3     GATATTTTCGAAAAGTGGGATTTTTTAAACC     4      88    23
4     CTCCATCTCAGGTATTAGAATGAATGCTTAC     5       7    23
...                               ...   ...     ...   ...
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996       5    23
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997       5    23
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998      10    23
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999       7    23
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000      11    23

[4000 rows x 4 columns]

In [31]:
df["frac"] = df.Count / sum(df.Count) * 100

In [32]:
df

                                  Seq    Id   Count  Test       frac
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422    23  30.436766
1     CAGGACTCCAATATAGAGATAAGTTAATGTC     2      93    23   0.024957
2     TATGTAATTGGTTCCAGTGTGAGTCATTAAA     3       5    23   0.001342
3     GATATTTTCGAAAAGTGGGATTTTTTAAACC     4      88    23   0.023615
4     CTCCATCTCAGGTATTAGAATGAATGCTTAC     5       7    23   0.001878
...                               ...   ...     ...   ...        ...
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996       5    23   0.001342
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997       5    23   0.001342
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998      10    23   0.002683
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999       7    23   0.001878
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000      11    23   0.002952

[4000 rows x 5 columns]

In [34]:
o = df.Count >= 100

In [35]:
sum(o)
#when you get true and false, true = 1 and false = 0 so youc an just add them up to see how many true you have

543

In [36]:
df.Seq[o]
#just to see the sequences are true

0       AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
6       CTTCCATGGCTGTCCGGATCGCCGCACTGCA
7       GCACCAGGCCTTTCTCTAGAAGTCCTGAGAC
11      ATCAATCGACTCAGATGATCAGTTTTGGTAG
15      GGCCTGGGCTGGAAACAGCTCTGTGTGTGAA
                     ...
3969    AGTTTTCTAAAAAGGGGGAGAGTTGTGAAAG
3973    ATTATCTGGGCGTGGTGGCATGTGCCTGTAG
3975    CCTATGCTTTCCTTGGCATCGGCTACACATC
3987    AAGGGTGTCCTGCTCCTTGACCACGATGGGG
3994    AACCCAAGGAAAGAGAAATGCTGGGGTGTAT
Name: Seq, Length: 543, dtype: object

## Guided exercise(s) here...

### 1) Add a column with nucleotide count (A)
([loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)[*row*,*col*], .[apply](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html)())

In [170]:
def count_nuc(my_seq, nuc):
    total = 0
    for c in my_seq:
        if c == nuc:
            total = total + 1
    return total

In [172]:
count_nuc(df.Seq[1], "A")

12

In [43]:
df.Seq[1]

'CAGGACTCCAATATAGAGATAAGTTAATGTC'

In [46]:
df.apply(len, axis=1)

0       5
1       5
2       5
3       5
4       5
       ..
3995    5
3996    5
3997    5
3998    5
3999    5
Length: 4000, dtype: int64

In [173]:
def count_A(row):
    return count_nuc(row.Seq, "A")

In [174]:
df["Count A"] = df.apply(count_A, axis=1)

In [175]:
df

                                  Seq    Id   Count  Count A
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422       31
1     CAGGACTCCAATATAGAGATAAGTTAATGTC     2      93       12
2     TATGTAATTGGTTCCAGTGTGAGTCATTAAA     3       5        9
3     GATATTTTCGAAAAGTGGGATTTTTTAAACC     4      88       10
4     CTCCATCTCAGGTATTAGAATGAATGCTTAC     5       7        9
...                               ...   ...     ...      ...
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996       5        9
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997       5        6
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998      10        7
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999       7        9
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000      11       10

[4000 rows x 4 columns]

(First step: We'll try to first apply it to the second row, counting As only)

(Doc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html)

In [54]:
df2 = df.loc[o]
df2
#loc allows you to sort the data based on more than 100 nuc (remember from before) but also bring all the other info too

                                  Seq    Id   Count  Test       frac  Count A
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422    23  30.436766       31
6     CTTCCATGGCTGTCCGGATCGCCGCACTGCA     7     299    23   0.080237        4
7     GCACCAGGCCTTTCTCTAGAAGTCCTGAGAC     8     128    23   0.034349        7
11    ATCAATCGACTCAGATGATCAGTTTTGGTAG    12     252    23   0.067624        9
15    GGCCTGGGCTGGAAACAGCTCTGTGTGTGAA    16     330    23   0.088555        6
...                               ...   ...     ...   ...        ...      ...
3969  AGTTTTCTAAAAAGGGGGAGAGTTGTGAAAG  3970     112    23   0.030055       11
3973  ATTATCTGGGCGTGGTGGCATGTGCCTGTAG  3974     130    23   0.034885        4
3975  CCTATGCTTTCCTTGGCATCGGCTACACATC  3976     352    23   0.094459        5
3987  AAGGGTGTCCTGCTCCTTGACCACGATGGGG  3988     172    23   0.046156        5
3994  AACCCAAGGAAAGAGAAATGCTGGGGTGTAT  3995     117    23   0.031397       12

[543 rows x 6 columns]

(Doc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html)

(Whiz-kid corner: lambda expressions, https://docs.python.org/3/tutorial/controlflow.html#lambda-expressions)

In [176]:
df.apply(lambda row: count_nuc(row.Seq, "A"), axis=1)

0       31
1       12
2        9
3       10
4        9
        ..
3995     9
3996     6
3997     7
3998     9
3999    10
Length: 4000, dtype: int64

In [177]:
def row_count_nuc(nuc):
    def tmp(row):
        return count_nuc(row.Seq, nuc)
    return tmp

In [178]:
f = row_count_nuc("A")

In [179]:
df.apply(f, axis=1)

0       31
1       12
2        9
3       10
4        9
        ..
3995     9
3996     6
3997     7
3998     9
3999    10
Length: 4000, dtype: int64

In [180]:
df.apply(row_count_nuc("A"), axis = 1)

0       31
1       12
2        9
3       10
4        9
        ..
3995     9
3996     6
3997     7
3998     9
3999    10
Length: 4000, dtype: int64

### 2) Show the 10 sequences with the most number of A. How many reads do they represent? What % of the (truncated) transcriptome?
(.sort_values())

(Doc: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sort_values.html)

In [77]:
df

                                  Seq    Id   Count  Test       frac  Count A
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422    23  30.436766       31
1     CAGGACTCCAATATAGAGATAAGTTAATGTC     2      93    23   0.024957       12
2     TATGTAATTGGTTCCAGTGTGAGTCATTAAA     3       5    23   0.001342        9
3     GATATTTTCGAAAAGTGGGATTTTTTAAACC     4      88    23   0.023615       10
4     CTCCATCTCAGGTATTAGAATGAATGCTTAC     5       7    23   0.001878        9
...                               ...   ...     ...   ...        ...      ...
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996       5    23   0.001342        9
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997       5    23   0.001342        6
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998      10    23   0.002683        7
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999       7    23   0.001878        9
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000      11    23   0.002952       10

[4000 rows x 6 columns]

In [181]:
Most_A = df.sort_values(by=["Count A"], ascending = False)

In [182]:
df_A = Most_A.head(10)

In [184]:
df_A

                                  Seq    Id   Count  Count A
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422       31
650   CAAAAAAAAAAAAACAAAAAACAAAAAAACA   651      13       27
2507  AAATAACAAAAAATTAAAAAAAAAAAAAAAA  2508       5       27
3678  AAAACAAAAACAAAACAAACAAACAAAAAAG  3679      26       25
168   AAAAAAGATTAAAAAATTAAAAAAAAAAGAA   169      11       25
2321  AATAACAGAAAGAAAACAAAAAGAAAAATAA  2322      57       24
3880  AAAGAAAGAAAAAGAAAAAAAAAATAGCACA  3881       7       24
2636  AAAATTAAAAAAAAAAAAAAAAAATTAGCCG  2637       6       23
3491  AAAAGAAGACAAAAGAAAAGAGAAAGAAGAA  3492       7       23
3186  ATAAATAAAAAGGAAAAGAAAAGAAAAGAAG  3187      24       23

In [207]:
sum(df_A.Count)/sum(df.Count)*100

30.478628625405207

### 3) How many sequences with 25 or more As? Then, check that the result is correct.
(Cond. row selection)

In [187]:
Most_A

                                  Seq    Id   Count  Count A
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422       31
650   CAAAAAAAAAAAAACAAAAAACAAAAAAACA   651      13       27
2507  AAATAACAAAAAATTAAAAAAAAAAAAAAAA  2508       5       27
3678  AAAACAAAAACAAAACAAACAAACAAAAAAG  3679      26       25
168   AAAAAAGATTAAAAAATTAAAAAAAAAAGAA   169      11       25
...                               ...   ...     ...      ...
1411  ACCTGGTCTCTCTCTCTGGTCTTGCCTCTCC  1412       6        1
371   CCTCCGTCGGCTCTGCGGGCTCCCGGGCCTA   372      81        1
1419  CTGTCTCCTGCTCTTCCCTCCTTCCTGGTCC  1420       9        0
2140  CTGTTTCCTCCTTTCTCCTTTTCCTCCTCTC  2141       5        0
3434  CTCTTCTCCTTCTCCTTCTTGCTGGCGCGCC  3435     113        0

[4000 rows x 4 columns]

In [185]:
seq_25A = Most_A["Count A"] >=25

In [186]:
sum(seq_25A)

5

### 4) Clean up the dataframe (or re-load), add counts for all 4 nucl

In [188]:
def count_G(row):
    return count_nuc(row.Seq, "G")

In [189]:
df["Count G"] = df.apply(count_G, axis=1)

In [190]:
df

                                  Seq    Id   Count  Count A  Count G
0     AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     1  113422       31        0
1     CAGGACTCCAATATAGAGATAAGTTAATGTC     2      93       12        6
2     TATGTAATTGGTTCCAGTGTGAGTCATTAAA     3       5        9        7
3     GATATTTTCGAAAAGTGGGATTTTTTAAACC     4      88       10        6
4     CTCCATCTCAGGTATTAGAATGAATGCTTAC     5       7        9        5
...                               ...   ...     ...      ...      ...
3995  AGCTGCAGGAACTCCCTCGTCACAGCTTAAA  3996       5        9        6
3996  CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA  3997       5        6       10
3997  GTCTGCCTTTATGGCCTTTGTACTCAAAGAA  3998      10        7        6
3998  AGACTATAGTGAGCTCAGGTGATTGATACTC  3999       7        9        8
3999  AAACCCAGTCACTGGACACCTAAGTGTCCAC  4000      11       10        5

[4000 rows x 5 columns]

In [191]:
def count_C(row):
    return count_nuc(row.Seq, "C")
df["Count C"] = df.apply(count_C, axis=1)

In [192]:
def count_T(row):
    return count_nuc(row.Seq, "T")
df["Count T"] = df.apply(count_T, axis=1)

In [193]:
df

,Seq,Id,Count,Count A,Count G,Count C,Count T
0,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,1,113422,31,0,0,0
1,CAGGACTCCAATATAGAGATAAGTTAATGTC,2,93,12,6,5,8
2,TATGTAATTGGTTCCAGTGTGAGTCATTAAA,3,5,9,7,3,12
3,GATATTTTCGAAAAGTGGGATTTTTTAAACC,4,88,10,6,3,12
4,CTCCATCTCAGGTATTAGAATGAATGCTTAC,5,7,9,5,7,10
...,...,...,...,...,...,...,...
3995,AGCTGCAGGAACTCCCTCGTCACAGCTTAAA,3996,5,9,6,10,6
3996,CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA,3997,5,6,10,7,8
3997,GTCTGCCTTTATGGCCTTTGTACTCAAAGAA,3998,10,7,6,7,11
3998,AGACTATAGTGAGCTCAGGTGATTGATACTC,3999,7,9,8,5,9
3999,AAACCCAGTCACTGGACACCTAAGTGTCCAC,4000,11,10,5,11,5

(Whiz kid corner: a function returning a function)

### 5) Add a %GC column

In [194]:
def count_GC(my_seq):
    total = 0
    for c in my_seq:
        if c == "G" or c == "C":
            total = total + 1
    return total

In [195]:
df.apply(lambda row: count_GC(row.Seq), axis=1)

0        0
1       11
2       10
3        9
4       12
        ..
3995    16
3996    17
3997    13
3998    13
3999    16
Length: 4000, dtype: int64

In [196]:
df["Count GC"] = df.apply(lambda row: count_GC(row.Seq), axis=1)

In [197]:
def count_total(my_seq):
    total = 0
    for c in my_seq:
        if c == "A" or c == "G" or c == "T" or c == "C":
            total = total + 1
    return total

In [198]:
df.apply(lambda row: count_total(row.Seq), axis=1)

0       31
1       31
2       31
3       31
4       31
        ..
3995    31
3996    31
3997    31
3998    31
3999    31
Length: 4000, dtype: int64

In [199]:
df["% GC"] = df["Count GC"] / 31 * 100

In [200]:
df

,Seq,Id,Count,Count A,Count G,Count C,Count T,Count GC,% GC
0,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,1,113422,31,0,0,0,0,0.000000
1,CAGGACTCCAATATAGAGATAAGTTAATGTC,2,93,12,6,5,8,11,35.483871
2,TATGTAATTGGTTCCAGTGTGAGTCATTAAA,3,5,9,7,3,12,10,32.258065
3,GATATTTTCGAAAAGTGGGATTTTTTAAACC,4,88,10,6,3,12,9,29.032258
4,CTCCATCTCAGGTATTAGAATGAATGCTTAC,5,7,9,5,7,10,12,38.709677
...,...,...,...,...,...,...,...,...,...
3995,AGCTGCAGGAACTCCCTCGTCACAGCTTAAA,3996,5,9,6,10,6,16,51.612903
3996,CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA,3997,5,6,10,7,8,17,54.838710
3997,GTCTGCCTTTATGGCCTTTGTACTCAAAGAA,3998,10,7,6,7,11,13,41.935484
3998,AGACTATAGTGAGCTCAGGTGATTGATACTC,3999,7,9,8,5,9,13,41.935484
3999,AAACCCAGTCACTGGACACCTAAGTGTCCAC,4000,11,10,5,11,5,16,51.612903

### 6) And find the 10 sequences with highest GC content. How many reads do they represent?
(as a bonus, store this result in a new dataframe with only columns: Seq, Id, Count and %GC. You might need a few extra "tricks" with .loc[:,["Col1", "Col2"])

In [201]:
Highest_GC = df.sort_values(by=["% GC"], ascending = False)
Highest_GC.head(10)

,Seq,Id,Count,Count A,Count G,Count C,Count T,Count GC,% GC
1735,CTGCCCGCGCCCGCCGCCCAGGACCCCGCAC,1736,6,3,8,19,1,27,87.096774
1508,ACGCACCCCTCCCCGGCCTGGGCGGCGGCGA,1509,72,3,11,15,2,26,83.870968
963,CCGCGCCGCCCGGGCACCATGGCGGGGAAGG,964,7,4,14,12,1,26,83.870968
233,ACCCGGCGCCCGGCCAGTCCTGCGCGTCCCC,234,38,2,9,17,3,26,83.870968
3390,GCACGGGCGAAGGGGCCGCGGCCGCATGCCC,3391,64,4,14,12,1,26,83.870968
1222,CTGCGGGGGGCCTGCGGAGACGGCGCCCGCA,1223,5,3,15,11,2,26,83.870968
1751,CGGCGGTTGGCGGGGCACCACGGGAGGGGCC,1752,19,3,17,9,2,26,83.870968
3021,GGGTCCGGCGCCGCCGGCTGCGGCTTCGCGA,3022,21,1,14,12,4,26,83.870968
1899,AGGACTGGGGGGAGGCGGGCACCCCAGCGGG,1900,42,5,17,8,1,25,80.645161
2320,GCAGGTCGCCCTGGGGTGCCCGCGCGTGGGA,2321,9,2,15,10,4,25,80.645161

In [202]:
sum(Highest_GC.head(10).Count)

283

### 7) How many sequences with ≥ 50%GC (1453)? What is the %GC of all the sequences joined together (44.8%)? How many sequence have %GC above this average value (2104)?

In [203]:
sum(Highest_GC["% GC"] >=50)

1453

In [204]:
sum(df["Count GC"])/(31*4000)*100

44.836290322580645

In [205]:
GC_all = sum(df["Count GC"])/(31*4000)*100
sum(df["% GC"] >= GC_all)

2104

### (*Challenge!*): Which sequence would form the longest helix linking the 5' and 3' extremities (no overhang)?
(Answer: ATGAATTGAGTTGTGTCCCCCCAAAATTCAT, 7 base pairs, line number 2827)
(Working with GPT-4: https://chatgpt.com/share/4687f755-e276-4d69-94c3-68be6dc5b584  Search for "Can you write a function that...")

In [230]:
df

,Seq,Id,Count,Count A,Count G,Count C,Count T,Count GC,% GC
0,AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA,1,113422,31,0,0,0,0,0.000000
1,CAGGACTCCAATATAGAGATAAGTTAATGTC,2,93,12,6,5,8,11,35.483871
2,TATGTAATTGGTTCCAGTGTGAGTCATTAAA,3,5,9,7,3,12,10,32.258065
3,GATATTTTCGAAAAGTGGGATTTTTTAAACC,4,88,10,6,3,12,9,29.032258
4,CTCCATCTCAGGTATTAGAATGAATGCTTAC,5,7,9,5,7,10,12,38.709677
...,...,...,...,...,...,...,...,...,...
3995,AGCTGCAGGAACTCCCTCGTCACAGCTTAAA,3996,5,9,6,10,6,16,51.612903
3996,CTGAGCTCTCTGGGAAAGTCGTGTTCCGGAA,3997,5,6,10,7,8,17,54.838710
3997,GTCTGCCTTTATGGCCTTTGTACTCAAAGAA,3998,10,7,6,7,11,13,41.935484
3998,AGACTATAGTGAGCTCAGGTGATTGATACTC,3999,7,9,8,5,9,13,41.935484
3999,AAACCCAGTCACTGGACACCTAAGTGTCCAC,4000,11,10,5,11,5,16,51.612903

In [20]:
def fold_to_hairpin(seq):
    # Complementary base pairs
    complement = {'A': 'T', 'T': 'A', 'C': 'G', 'G': 'C'}

    # Find the longest foldable region
    n = len(seq)
    for i in range(n // 2, 0, -1):
        if all(seq[j] == complement[seq[n - j - 1]] for j in range(i)):
            stem = seq[:i]
            loop = seq[i:n-i]
            hairpin = f"{stem}({loop}){stem[::-1].translate(str.maketrans('ATCG', 'TAGC'))}"
            outside_count = len(stem) * 2
            return hairpin, outside_count
    
    return None, None

df_fold = pandas.DataFrame(df)

# Test the function on each sequence and filter out those that don't fold
df_fold[['Hairpin', 'OutsideCount']] = df_fold['Seq'].apply(lambda seq: pandas.Series(fold_to_hairpin(seq)))
df_fold = df_fold.dropna(subset=['Hairpin'])

df_fold_sort = df_fold.sort_values(by=["OutsideCount"], ascending = False)
df_fold_sort["base pairs"]= df_fold["OutsideCount"]/2
df_fold_sort.head(1)

,Seq,Id,Count,Hairpin,OutsideCount,base pairs
2827,ATGAATTGAGTTGTGTCCCCCCAAAATTCAT,2828,12,ATGAATT(GAGTTGTGTCCCCCCAA)AATTCAT,14.0,7.0